@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("loadCss", "css/sg-config.css");
            await JsRuntime.InvokeVoidAsync("setMainLayout", "fluid");
        }
    }

}