.sidebar {
	.navbar-toggler {
		background-color: rgba(255, 255, 255, 0.1);
	}

	.top-row {
		height: 3.5rem;
	}

	.navbar-brand {
		font-size: 1.2rem;
	}

	.nav-link {
		padding-inline: 1rem;
	}
	
	.nav-item {
		font-size: 0.9rem;
		padding-bottom: 0.5rem;

		:first-of-type {
			padding-top: 1rem;
		}

		:last-of-type {
			padding-bottom: 1rem;
		}

		a {
			color: #d7d7d7;
			border-radius: 4px;
			height: 3rem;
			display: flex;
			align-items: center;
			line-height: 3rem;
			
			&:active {
				background-color: rgba(255, 255, 255, 0.25);
				color: white;
			}

			&:hover {
				background-color: rgba(255, 255, 255, 0.21);
				color: white;
			}
		}
	}

	@media (min-width: 641px) {
		.navbar-toggler {
			display: none;
		}

		.collapse {
			/* Never collapse the sidebar for wide screens */
			display: block;
		}
	}
}