@page "/"
@layout PanelLayout

@using System.Collections.Immutable
@inject DiscordClient Client;
@inject AuthenticationStateProvider AuthStateProvider;

<div id="intro" class="my-5">
	<h1 class="mx-xl-5 mb-3">NSYS SocialGuard for YumeChan</h1>
	<p class="lead">This Web Panel will allow you to setup and manage SocialGuard for your Discord servers.</p>
	
	<div class="mt-5">
    	<AuthorizeView>
    		<Authorized>
    			<div class="alert alert-primary">
                	Start by selecting a server to manage, in the Panel Menu selector.
                </div>
    		</Authorized>
    
    		<NotAuthorized>
    			<div class="alert alert-primary">
    				Please <a href="/login">login</a> to configure SocialGuard for YC on your servers.
    			</div>
    		</NotAuthorized>
    	</AuthorizeView>
    </div>
</div>



<div id="links" class="my-5">
	<h3 class="my-3">Useful Resources</h3>
	
	<ul>
		<li><a href="https://github.com/YumeChan-DT/SocialGuard.YC">GitHub Repository</a></li>
		<li><a href="https://socialguard.net">NSYS SocialGuard - Website</a></li>
		<li><a href="https://socialguard.net/viewer">NSYS SocialGuard - Records Browser</a></li>
		<li><a href="https://api.socialguard.net">NSYS SocialGuard - API</a></li>
	</ul>
</div>
@code {


	ImmutableList<DiscordGuild> _userManagedGuilds;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		if (await AuthStateProvider.GetUserSnowflakeAsync() is { } userId)
		{
			_userManagedGuilds = (from g in Client.Guilds
			                     let m = g.Value.Members.GetValueOrDefault(userId)
			                     where m is not null && ((m.Permissions & Permissions.ManageGuild) is not 0 || (m.Permissions & Permissions.Administrator) is not 0)
			                     select g.Value).ToImmutableList();
		}
	}


	private RenderFragment<DiscordGuild> GuildCard { get; } = guild => __builder =>
	{
		<div class="card bg-body border-light p-4 flex-grow-1" id="@guild.Id.ToString()">
			<div class="flex-grow" id="title">
				<h3 class="flex-grow-1" style="white-space: nowrap">@guild.Name</h3>
			</div>

			@if (guild.IconUrl is { })
			{
				<div class="m-3 img-fluid ratio-1x1" id="icon">
					<img alt="Server Icon" src="@guild.IconUrl" />
				</div>
			}

			<a class="stretched-link" href="config/@guild.Id"></a>
		</div>
	};

}